
.l{
  float:left;

}
.r{
  float:right;
}
.titleM{
  color:white;
  text-align: right;
  margin-right:5%;
}
.checkout{
  position: absolute;
  margin-top:45%;
  width:100%;
  left:0%;
}
.ll25{
  margin-top:40%;
}
.loader{
  width:75%;
  margin-left: 15%;
}
body{
  overflow-x:hidden
}
.menuBanner2{
  width:100%;
  padding:10%;
}
.imageContainer{
  width:100%;
  height:40%;
}
.foodtruckI{
  width:100%;
  height:100%;

}
.blackbanner{
  background:black;

}
.logot{
  float:left;
  margin-right: 5%;
  width:15%;
}
.namef{
  text-align: left;
  float:left;
  width:40%;
  color:white;
  font-weight: bold;
}
a:hover{
  color:red !important;
  font-weight: bold;
  font-style: normal;
}
.link{
  float:right;
  font-size: 14px;
  color:white;
}
